@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:wght@300;400&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  font-style: none;
  text-decoration: none;
}

body{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    /*"header"*/
    "main"
    /*"footer"*/;
  
  grid-template-rows: /*50px*/ 1fr /*40px*/;
}

/*.menu-bar{
  grid-area: header;
  background-color: white;
}
*/

main{
  background-color: #010114;
  grid-area: main;
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-areas: 
  "designArt contact"
  "designArt contact"
  "designArt contact";

  grid-template-columns: 59% 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0;
}

.contact{
  grid-area: contact;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactGroup{
  background-color: #1F4068;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 50%;
  border-radius: 3%;
  border: transparent;
  padding: 20px;
  color: white;
  box-sizing: border-box;
}

.designArt{  
  grid-area: designArt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: ;
  height: 100%;
  width: 100%;
  border: 1px solid white;  
  font-family: 'Rubik', sans-serif;
  font-size: larger;
}

.designArt > p{
  color: white;
  border: solid 1px white;
  margin-top: 90px;
}

.imgFdbck{
  height: 70%;
  width: 100%;
  margin-top: 20%;
  border: white 1px solid;
}


.titleContainer{
  display: flex;
  justify-content: center;
  margin: 20px 0;
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: normal; 
}

input, label{
  display: block;
  font-family: 'Rubik', sans-serif;
}

input{
  height: 10%;
}

input, textarea{
  margin-bottom: 10px;
  background-color: #1F4068;
  border: 1px solid #71b280;
  border-radius: 4px; 
  font-family: 'Rubik', sans-serif;
  color: white;
  resize: none;
}

/*footer{
  grid-area: footer;
  border: 1px black solid;
}
*/

textarea{
  height: 15%; 
  width: 100%;
}

button{
  background:  #71b280;
  background-repeat: no-repeat;
  margin-top: 8px;
  display: block;
  height: 35px;
  border-radius: 5px;
  border-color: transparent;
  font-family: 'Rubik', sans-serif;
  color: white;
  font-size: 16px;
}
